*{
    margin: 0;
    padding: 0;
}

html{


  scroll-behavior: smooth;
}

.hero{
    width: 100%;
    height: 100vh;
    margin-top: 0 !important;
    padding-top: 0;
    position: relative;
    background: #eff4fd;
    margin-bottom: 10px;
}

nav{
    display: flex;
    z-index: 40;
    width: 84%;
    margin: auto;
    background-color: #eff4fd; /* set a semi-transparent background */
  backdrop-filter: blur(10px);
    align-items: center;
    justify-content: space-between;
      position: fixed;
      margin-top: 0;
      top: 0;
      left: 0;
      right: 0;
      backdrop-filter:inherit;
    
}
.hero nav li.icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .hero nav ul.responsive {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
  }
  
  .birthdate span{
    color:royalblue;
  }
  nav li {
    margin: 10px;
  }
  
  nav li.icon {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
  }
  
  nav li.icon a {
    font-size: 25px;
  }
}

.logo{
    width: 100px;
    cursor: pointer;
}

.container2 {
  align-self: center;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 5%;
  height: auto;
  max-width: 80%;
  overflow: hidden;
  border-radius: 10px;
  padding: 1rem;
  z-index: 1;
  display: flexbox;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
  
}
body{
  background-color: #ecf0f8;
}

#about{
  background: #eff4fd;
}
#skills{
  background: #eff4fd;
}
#history{
 
    background: #eff4fd;
  }

.container3{
  border-radius: 10px;
  color:#777777;
  padding: 20px;
  /* min-width: 700px; */
  min-height: 350px;
  margin: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: orange;
}

/* nav ul li a:hover{
    color: red;
} */

.endale{
    margin-left: 8%;
    padding-top: 20rem;
    display: flex;
    flex-direction: row;
    
}

.name h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
.name{
display: flex;
flex-direction: column;
gap: 0.5rem;
z-index: 50;

}



span{
    color: orange;
    
}

.name p{
    color: #797777;
    line-height: 22px;
}

.name a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    object-fit: contain;
    object-position: center;
    bottom: 25px;
    right: 60px;
}
.images img{
    height: 100%;
    width: 40%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .photo{
    left: 45%;
}


  
  .container {
        display: flex;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #725f5f59;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  h1 {
    font-size: 36px;
  }
  
  div about {
    max-width: 960px;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    backdrop-filter: blur(10px);
  }
  nav ul li a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
 nav ul li a:hover {
  color: #007bff;
}

section h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  color:#807a7a;
}

ul {
  list-style: disc;
  margin-left: 30px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    margin-top: 20px;
  }
}
  nav {
    display: flex;
  }


  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
   
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Style the main section */
  section {
    padding: 50px;
    margin-top: 30px;
  }
  
  /* Style the heading of the main section */
  section h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  /* Style the paragraph of the main section */
  section p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  /* Style the list items of the main section */
  section ul li {
    font-size: 20px;
    line-height: 1.5;
  }
  .services-container {
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
    margin: 50px auto;
  }

span.icon
{

display: none;

}

  @media screen and (max-width: 600px) {
    nav ul.responsive {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      opacity: 0.4;
      display: flex;
      flex-direction: column;
    }
    .card{
max-width: none !important;
width: 100%;
margin: 0;

    }
    nav ul{

display: none ;

    }
    li {
      width:100%;
    }
    li a{
      width:100%;
    }
    ul{
      width: 100%;
    }
    /* nav li {
      margin: 10px;
    } */
    
    nav span.icon {

      display: block;
      position: absolute;
      color: #2b2b47;
      top: 10px;
      right: 10px;
    }
    
    nav span.icon a {
      font-size: 25px;
    }
  }
  

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: darkblue;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 250px;
  min-width: 50px;
  min-height: 350px;
  margin: 5px;
}



.card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #807a7a;
  text-align: center;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #777777;
}




.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  opacity: 0.8;
  border-radius: 10px;
}
.dark-mode, .dark-mode .hero,.dark-mode #about
 ,.dark-mode #skills,.dark-mode #history {
  background-color: #1A1A2E;
  /* color: #D3D3D3; */
}
.dark-mode h2 {
  color: #979799;
}

.dark-mode p {
  color: #aaa7a3;
}
.dark-mode nav {
  background-color: #1A1A2E;
}

.dark-mode  #skills .services-container .card,.dark-mode #history .services-container .card{
  background-color: #2b2b47 !important;
}

.dark-mode #history .services-container .card h4{
  color: #979799 !important;
}

.dark-mode .endale  h1{
  color: rgb(170, 167, 163);
}
.dark-mode #about .container3{
background-color:#1f1f36;
}





